body {
    font-family: 'Courier New', Courier, monospace;
}

.purplecolor {
    color: #6665fe !important;
}

.col-2.minus::after {
    content: "\e996"
}

.darkbluecolor {
    color: #0758cd !important;
}

.darkbluecolorbackground {
    background-image: linear-gradient(to right, #0758cd , #50b6ce);
    color: white;
}   

.purplecolorbutton {
    color: white !important;
    background-color: #6665fe !important;
    border: 1px solid #6665fe !important;
}

.smallpic{
    max-width: 45px;
}

.smallpic2{
    min-width: 200px !important;
}

.bolder {
    font-weight: 650 !important;
    color: rgb(105, 105, 105);
}

.height {
    max-height: 600px;
}

.width {
    max-width: 100%;
}

.horizontal {
    float: left;
}

.hamburger {
    list-style: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
    border: 1px solid white !important;
}

.nav-link:hover{
    background-color: #0759cd34 !important;
}

#oneline {
    min-width: 85% !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}